select{
  width: 100%;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{

  border: 2px solid #f44336;
  background-color: white;
  border-radius: 5px;
  height: 20px;
  width: 100px;
}
button{
  height: 26px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  margin-bottom: 1px;
}
button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.non-neighbours{
    opacity:0;
}

.nonstroked{
    opacity:0;
}

.node text{
font: 12px sans-serif;}

.level-0 {
    opacity: 0;
}

.nonaspected{
    opacity: 0;
}

.link{
fill: none;
stroke: black;}



.overlay{
background-color: #eee;}

.icon{
border-radius: 50%;}

.arraytext{
font: 20px sans-serif;}

svg{
  border: 3px solid #000;
  width: 100%;
  height: 85vh;
}

.button-box{
  width: 100%;
  height: 5vh;

}
